section
	header.major
		h2 Awards
	ul 
		li Young Innovators Award | September 2017, 
			|   Unearthed Hackthon
		li President Honour roll | 2016
		li Deans Honour roll | 2017
		li Most Engaging Student | August 2015 | FIC Awareness Campaign Team