section#banner
    .content
        header
            h1
                | Hi, I'm Yagnik 
            p Enthusiastic | Impactfull | Problem solver
        p
            | Yagnik is an avid computer engineering student with a passion for software systems. Yagnik codes mainly in Javascript with Angular framework, Python and C/C++. With co-op work experience in both IoT firmware projects and backend system software, he has developed a great software background. Yagnik has also worked with machine learning, and has diverse experience in software technologies.
        //- ul.actions
        //-   li
        //-     a.button.big(href="#") Learn More
    span
        img.myImg(src="../img/myImg.png" alt="myImage")