section
	header.major
		h2 Education
	h3 Undergraduate student, Simon Fraser University, Jan 2015 - Present
	ul 
		li Major in Computer engineering with Honours, Engineering GPA: 3.8
		li Minor in Computer science 
		li Expected Graduation: 2019, December
	