section
	header.major
		h2 Other Work Experience
	.posts
		article
			h3 Community Advisor, SFU
			p 2015 September - 2016 April
			ul 
				li Worked with fellow residents and staff to establish and maintain an atmosphere conducive to studying and learning.
				li Developed, promoted, and implemented community-based programs responsive to community indicators and needs.
				li Regularly assessed the communities in order to determine the developmental needs of their residents.
		article
			h3 IT team member 
			p 2014 September - 2016 December
			ul 
				li Assisted with the installation of new hardware and softwares.
				li Set up workstations with computers and necessary peripheral devices.
				li Help student set up university software on their machines. 
				li Presented IT information for the school to students on their orientation day. 
		