section
	header.major
		h3 Projects 
	.timeline-projects
		.container-projects.left-projects
			.content-projects
				h2 2018 Summer 
				ul 
					li  Personal 
						a(href="https://github.com/yvadher/webPortfolio") Web Portfolio
					li npm module 

		.container-projects.right-projects
			.content-projects
				h2 2018 Spring 
				ul 
					li  Personal 
						a(href="https://github.com/yvadher/webPortfolio") Web Portfolio

		.container-projects.left-projects
			.content-projects
				h2 2017 Fall 
				
				.post
					article
						.flex-container
							a.image(href="#")
								img.projectImg(src="../img/pic01.jpg" alt="")
							a.image(href="#")
								img.projectImg(src="../img/pic02.jpg" alt="")
						h3 Interdum aenean
						p
							| Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
						ul.actions
							li
								a.button(href="#") More

		.container-projects.right-projects
			.content-projects
				h2 2017 Summer 
				ul 
					li  Personal 
						a(href="https://github.com/yvadher/webPortfolio") Web Portfolio

		.container-projects.left-projects
			.content-projects
				h2 2017 Spring 
				ul 
					li  Personal 
						a(href="https://github.com/yvadher/webPortfolio") Web Portfolio

		.container-projects.right-projects
			.content-projects
				h2 2016 Fall 
				ul 
					li  Personal 
						a(href="https://github.com/yvadher/webPortfolio") Web Portfolio

		.container-projects.left-projects
			.content-projects
				h2 2016 Summer 
				ul 
					li  Personal 
						a(href="https://github.com/yvadher/webPortfolio") Web Portfolio

		.container-projects.right-projects
			.content-projects
				h2 2016 Spring 
				ul 
					li  Personal 
						a(href="https://github.com/yvadher/webPortfolio") Web Portfolio