section
	header.major
		h3 Projects 
	.timeline-projects
		.container-projects.left-projects
			.content-projects
				h2 2018 Summer 
				ul 
					li  Personal 
						a(href="https://github.com/yvadher/webPortfolio") Web Portfolio
					li npm module 
					li bagelbone board programming 
						strong Embedded system programming.

		.container-projects.right-projects
			.content-projects
				h2 2018 Spring 
				ul 
					li Western Engineering Competition | 
						strong Train Simulator 
						a(href="https://github.com/yvadher/TrainSim") Project
					li Linux Kernel Patch 
					li Thread programming in C
				

		.container-projects.left-projects
			.content-projects
				h2 2017 Fall 
				.post
					article
						.flex-container
							a.image(href="#")
								img.projectImg(src="../img/pic01.jpg" alt="")
							a.image(href="#")
								img.projectImg(src="../img/pic02.jpg" alt="")
						ul 
							li goTalk
								a(href="https://github.com/yvadher/cmpt275App")  IOS app 
								| for autistic children 
							li Zedbord Real time system programming 
							li 
								a(href="https://github.com/yvadher/BridgeLift-simmulator") Bridge Lift Simulator
						
						ul.actions
							li
								a.button(href="#") More

		.container-projects.right-projects
			.content-projects
				h2 2017  
				ul 
					li Raspbery pi IoT using 
						a(href="https://developer.android.com/things/") android things 
					li TalkoMo React Native mobile app for demoing chat in react-native
					li 
						a(href="https://github.com/yvadher/noteMaster") NoteMaster 
						|  cloud synchronized react app 
				ul.actions
					li
						a.button(href="#") More

		.container-projects.left-projects
			.content-projects
				h2 2016  
				ul 
					li  Personal 
						a(href="https://github.com/yvadher/webPortfolio") Web Portfolio

		.container-projects.right-projects
			.content-projects
				h2 2015 
				ul 
					li  Personal 
						a(href="https://github.com/yvadher/webPortfolio") Web Portfolio