section
    header.major
        h2 Summery Of Skills
    .features
        article
            span.icon.fa-diamond
            .content.summery
                h3 Software
                ul  
                    li 
                        strong Programming Language: 
                    p Javascript, C/C++, Java, C#, Python, Swift 4, WEB assembly, Perl, HTML, CSS, Markdown
                    li 
                        strong Framework/Platforms:
                    p AngularJS, Angular2+, React, React Native, Node, Express, .NET
                    li 
                        strong Database:
                    p Elastic (ELK stack), SQL, NoSQL, mongoDB, PostgreSQL 
                    li 
                        strong Automations: 
                    p Webpack, Gulp, Travis CLI, Jenkins, Powershell/Bash scripting, Selenium
                    li 
                        strong Cloud services:
                    p AWS, IBM Bluemix, Azure, Heroku 
                    li 
                        strong Others: 
                    p RESt, GraphQL, ngix, Appache tomcat, Dynatrace

        article
            span.icon.fa-paper-plane
            .content.summery
                h3 Hardware
                ul  
                    li 
                        strong Firmware programming: 
                    p C, BG SCRIPT(BGM111 BLE chip), ARM/x86 assembly, Rust
                    li 
                        strong FPGA tools:
                    p VHDL, Altera Quartus, ModelSim for simmulation
                    li 
                        strong Embeded systems:
                    p Linux/RTOS, UARTs, A/D and D/A converters, timers, PWM generation from a timer, real-time clocks, Understanding of Memories(RAM, ROM, Flash)
                        | Communications using RS-232 (and it’s variants), SPI, I2C, and parallel data ports.
                    li 
                        strong Electronics: 
                    p Soldering, Circuit layout(Circuit maker, Eagle), Circuit simmulation(LT spice), Oscilloscope, DMM, Function Generator, SPA, LCR bridge
                    li 
                        strong Microcontroller:
                    p ZedBoard, Altera DE2-115
                    
        article
            span.icon.fa-rocket
            .content
                h3 Others 
                ul 
                    li Solid understanding of 
                      strong Data structures and algorithms.
                    li Software development methodologies (
                      strong Agile, TDD, XP 
                      | )
                    li Experience in 
                      strong Internet of Things(IoT) and Real time embedded systems. 
                    li Understanding of Modern Computer Architecture, 
                      strong Thread Management 
                      | and programming 

        article
            span.icon.fa-signal
            .content
                h3 Project Management
                ul 
                    li JIRA, Github
                    li 
                      strong Version control: 
                      | Git, SVN
                    li Excellent Communication