section
	header
		h2 Professional Work Experience
	.timeline
			// RBC work experience  
			.entry
				.title
					a.image(href="/rbcWork.html")
						img.companyImg(src="../img/rbc-royal-bank.svg" alt="rbc logo")
						h3 2018, May - Present
					p Software Developer, RBC, Toronto
				.body
					ul
						li Migrated entire front end project written in 
							strong AngularJS to Angular 6.
							|  Helped project to keep up with the standard up to date libraries and technologies. 
						li Created automation scripts and task using bash and grunt for initial migration of project which resulted 
							strong saving 10 minutes 
							| each time project is run.
						li Used Webpack 4 for bundling project for development and production.
						li Identified issues in code base and created fixes on regular bases. 

			//RBC community leader experience
			.entry
				.title
					a.image(href="rbcWork.html")
						img.companyImg(src="../img/rbc-royal-bank.svg" alt="rbc logo")
						h3 2018, May - Present
					p Community Leader 
						br
						| (Technology & Operation), RBC, Toronto
				.body
					ul
						li Rerum sit libero possimus amet excepturi
						li Exercitationem enim dolores sunt praesentium dolorum praesentium
						li Modi aut dolores dignissimos sequi sit ut aliquid molestias deserunt illo

			//CJSF Radio experience 
			.entry
				.title
					a.image(href="#")
						img.companyImg(src="../img/cjsf.png" alt="CJSF radio logo")
						h3 2018, Jan - 2018, Jun
					p  Mobile Application Developer
						br
						|  CJSF 90.1 FM, Vancouver 
				.body
					ul
						li Designed, planned and researched features and requirements of radio station app in the team of 3 developers.
						li Researched technologies and made decision to develop React-Native application.
						li Created UI mock ups and assigned tasks to other members of teams. 
						li Developed first version of application in short period of time. 
						li Made a testing plan for the application. 
						li Deployed app on the play store.

			//Cuepath Hardware Engineer experience 
			.entry
				.title
					a.image(href="/cuepathWork.html")
						img.companyImg(src="../img/cuepath.jpg" alt="CuePath Logo")
						h3 2018, May - Present
					p  Hardware Engineer
						br
						|  Cuepath (Techstars'17), Vancouver|Seattle 
				.body
					ul
						li Designed and developed a solution that resulted in  
							strong reducing 
							| custom hardware programming 
							strong time by 90%. 
							| Automated full system of programming custom hardware.
						li Designed and created 
							strong Remote Device Management System 
							| that helps connect to any Internet of Things (IoT) device, 
							| debug it remotely with 
							strong SSH connection 
							| and Remote calls via cloud platform, 
							| track its details and status.
						li Battery level monitoring system for custom hardware. It 
							strong benefited to approximate the battery life time 
							| and 
							strong gather battery monitoring data. 

			//SFU RA experience 
			.entry
				.title
					a.image(href="#")
						img.companyImg(src="../img/sfu-plain.svg" alt="sfu logo")
						h3 2016, Aug - 2017, Jan
					p  Research Assistant On Internet Of Things
						br
						|  SFU applied science, Burnaby 
				.body
					ul
						li Developed various IoT(Internet of Things) prototypes with the help of raspberry pi and other 
							| primary sensors to understand the difficulties of the development process. 
						li Automated a tasks using Linux Cron jobs scripts. 
						li Wrote node js server side scripts to communicate between IoT device and cloud.
						li Gathered requirements for a prototype of a cloud service that could serve simple solution to IoT development.