extends ./components/header
body
  // Wrapper
  #wrapper
    // Main
    #main
      .inner
        // Header
        header#header
          a.logo(href="index.html")
            strong Editorial
            |  by HTML5 UP
          ul.icons
            li
              a.icon.fa-twitter(href="#")
                span.label Twitter
            li
              a.icon.fa-facebook(href="#")
                span.label Facebook
            li
              a.icon.fa-snapchat-ghost(href="#")
                span.label Snapchat
            li
              a.icon.fa-instagram(href="#")
                span.label Instagram
            li
              a.icon.fa-medium(href="#")
                span.label Medium
        // Banner
        section#banner
          .content
            header
              h1
                | Hi, I’m Editorial
                br
                | 											by HTML5 UP
              p A free and fully responsive site template
            p
              | Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam facilisis ante interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet egestas mauris. Ut magna finibus nisi nec lacinia. Nam maximus erat id euismod egestas. Pellentesque sapien ac quam. Lorem ipsum dolor sit nullam.
            ul.actions
              li
                a.button.big(href="#") Learn More
          span.image.object
            img(src="images/pic10.jpg" alt="")
        // Section
        section
          header.major
            h2 Erat lacinia
          .features
            article
              span.icon.fa-diamond
              .content
                h3 Portitor ullamcorper
                p
                  | Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
            article
              span.icon.fa-paper-plane
              .content
                h3 Sapien veroeros
                p
                  | Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
            article
              span.icon.fa-rocket
              .content
                h3 Quam lorem ipsum
                p
                  | Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
            article
              span.icon.fa-signal
              .content
                h3 Sed magna finibus
                p
                  | Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
        // Section
        section
          header.major
            h2 Ipsum sed dolor
          .posts
            article
              a.image(href="#")
                img(src="images/pic01.jpg" alt="")
              h3 Interdum aenean
              p
                | Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
              ul.actions
                li
                  a.button(href="#") More
            article
              a.image(href="#")
                img(src="images/pic02.jpg" alt="")
              h3 Nulla amet dolore
              p
                | Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
              ul.actions
                li
                  a.button(href="#") More
            article
              a.image(href="#")
                img(src="images/pic03.jpg" alt="")
              h3 Tempus ullamcorper
              p
                | Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
              ul.actions
                li
                  a.button(href="#") More
            article
              a.image(href="#")
                img(src="images/pic04.jpg" alt="")
              h3 Sed etiam facilis
              p
                | Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
              ul.actions
                li
                  a.button(href="#") More
            article
              a.image(href="#")
                img(src="images/pic05.jpg" alt="")
              h3 Feugiat lorem aenean
              p
                | Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
              ul.actions
                li
                  a.button(href="#") More
            article
              a.image(href="#")
                img(src="images/pic06.jpg" alt="")
              h3 Amet varius aliquam
              p
                | Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
              ul.actions
                li
                  a.button(href="#") More
    // Sidebar
    #sidebar
      .inner
        // Search
        section#search.alt
          form(method="post" action="#")
            input#query(type="text" name="query" placeholder="Search")
        // Menu
        nav#menu
          header.major
            h2 Menu
          ul
            li
              a(href="index.html") Homepage
            li
              a(href="generic.html") Generic
            li
              a(href="elements.html") Elements
            li
              span.opener Submenu
              ul
                li
                  a(href="#") Lorem Dolor
                li
                  a(href="#") Ipsum Adipiscing
                li
                  a(href="#") Tempus Magna
                li
                  a(href="#") Feugiat Veroeros
            li
              a(href="#") Etiam Dolore
            li
              a(href="#") Adipiscing
            li
              span.opener Another Submenu
              ul
                li
                  a(href="#") Lorem Dolor
                li
                  a(href="#") Ipsum Adipiscing
                li
                  a(href="#") Tempus Magna
                li
                  a(href="#") Feugiat Veroeros
            li
              a(href="#") Maximus Erat
            li
              a(href="#") Sapien Mauris
            li
              a(href="#") Amet Lacinia
        // Section
        section
          header.major
            h2 Ante interdum
          .mini-posts
            article
              a.image(href="#")
                img(src="images/pic07.jpg" alt="")
              p Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.
            article
              a.image(href="#")
                img(src="images/pic08.jpg" alt="")
              p Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.
            article
              a.image(href="#")
                img(src="images/pic09.jpg" alt="")
              p Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.
          ul.actions
            li
              a.button(href="#") More
        // Section
        section
          header.major
            h2 Get in touch
          p
            | Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
          ul.contact
            li.fa-envelope-o
              a(href="#") information@untitled.tld
            li.fa-phone (000) 000-0000
            li.fa-home
              | 1234 Somewhere Road #8254
              br
              | 										Nashville, TN 00000-0000
        // Footer
        footer#footer
          p.copyright
            | © Untitled. All rights reserved. Demo Images: 
            a(href="https://unsplash.com") Unsplash
            | . Design: 
            a(href="https://html5up.net") HTML5 UP
            | .
  // Scripts
  script(src="assets/js/jquery.min.js")
  script(src="assets/js/skel.min.js")
  script(src="assets/js/util.js")
  //if lte IE 8
    script(src="assets/js/ie/respond.min.js")
  script(src="assets/js/main.js")
