body.is-preload
	// Wrapper
	#wrapper
		// Main
		#main
			.inner
				include ../../components/header
				include ./rbc-work-content
		// Sidebar
		include ../../components/sidebar
	// Scripts
	script(src="https://code.jquery.com/jquery-3.3.1.min.js",integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=",crossorigin="anonymous")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/bowser/1.9.3/bowser.min.js", crossorigin="anonymous")