section
	header.major
		h2 Professional Work Experience
	.posts
		article
			a.image(href="#")
				img(src="../img/cuepath.svg" alt="")
			h3 Hardware Engineer at Cuepath (Techstars'17)
			ul 
				li Designed and developed a solution that resulted in  
					strong reducing custom hardware programming time by 90%. 
					| Automated full system of programming custom hardware.
					br 
					| &#9654; Used Bluetooth low energy with raspberry pi to create Over the Air (OTA) firmware
					| update tool that would let number of hardware chips to program, update or detect.
					br
					| &#9654; Utilized Node, express, Noble (Bluetooth Low Energy) central module, C alike BGScript language for firmware.
				li Designed and created 
					strong Remote Device Management System 
					| that helps connect to any Internet of Things (IoT) device, 
					| debug it remotely with 
					strong SSH connection and Remote calls via cloud platform, 
					| track its details and status. 
					br 
					| &#9654; Used 
					strong IBM Bluemix Watson IoT platform APIs, 
					| AngularJS for front-end, Node express server.
				li Battery level monitoring system for custom hardware. It 
					strong benefited to approximate the battery life time 
					| and 
					strong gather battery monitoring data. 
					br
					| &#9654; Communicated with custom hardware chip to read coin Battery voltage and based on it made prediction when battery is about to die. 
					br
					| &#9654; Used SendGrid email service that notifies regular battery level checks.